h1, h2, p {
    font-family: 'Rubik Beastly', cursive;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.animals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.animals img {
    width: 30vw;
}