h1, h2 {
    font-family: 'Rubik Beastly', cursive;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animals {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.animals img {
    width: 30vw;
}